@model Mooshak2.DAL.Assignment

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div class="ass-detail">
    <p>
        <label>Assignment Name:  </label>
        @Html.DisplayFor(model => model.Name)
    </p>
    <p>
        <label>Description:  </label>
        @Html.DisplayFor(model => model.Description)
    </p>

    <p>
        <label>Day Assigned:  </label>
        @Html.DisplayFor(model => model.DateOfAssigned)
    </p>
    
    <p>
        <label>Last Day of Submittion:  </label>
        @Html.DisplayFor(model => model.DateOfSubmittion)
    </p>

    <p>
        <label>Allowed Programming Language:  </label>
        @Html.DisplayFor(model => model.AllowedProgrammingLanguage)
    </p> 
</div>
@if (User.IsInRole("Admin, Teacher"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
else
{
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
}
