@model Mooshak2.Models.AssignmentDetailViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Assignments.Name)</h2>

<div class="ass-detail">
    
    
    <p class="ass-l">
        <label>Assignment Name:  </label>
    </p>

    <p class="ass-p">
        @Html.DisplayFor(model => model.Assignments.Name)
    </p>

    <p class="ass-l">
        <label class="ass-l">Description:  </label>
    </p>

    <p class="ass-p">
        @Html.DisplayFor(model => model.Assignments.Description)
    </p>

    <p class="ass-l">
        <label class="ass-l">Day Assigned:  </label>
        
    </p>

    <p class="ass-p">
        @Html.DisplayFor(model => model.Assignments.DateOfAssigned)
    </p>
    
    <p class="ass-l">
        <label class="ass-p">Last Day of Submittion:  </label>
    </p>

    <p class="ass-p">
        @Html.DisplayFor(model => model.Assignments.DateOfSubmittion)
    </p>

    <p class="ass-l">
        <label class="ass-p">Allowed Programming Language:  </label>
    </p>

    <p class="ass-p"> 
        @Html.DisplayFor(model => model.Assignments.AllowedProgrammingLanguage)
    </p> 
</div>
<table class="table">
    <tr>
        <th>
            Milestone Name
        </th>
        <th>
            Weight
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model.Milestones)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)%
            </td>
            @if (User.IsInRole("Admin"))
            {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteMilestone", new { id = item.Id }) |
            </td>
            }
        </tr>
    }
</table>
@if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
{
    <p>
        @Html.ActionLink("Edit Assignment", "Edit", new { id = Model.Assignments.Id }) |
        @Html.ActionLink("Add Milestone", "CreateMilestone", new { id = Model.Assignments.Id }) |
        @Html.ActionLink("Delete Assignment", "Delete", new { id = Model.Assignments.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
else
{
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
}
