@model Mooshak2.DAL.Assignment

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div class="ass-detail">
    
    
    <p class="ass-l">
        <label>Assignment Name:  </label>
    </p>

    <p class="ass-p">
        @Html.DisplayFor(model => model.Name)
    </p>

    <p class="ass-l">
        <label class="ass-l">Description:  </label>
    </p>

    <p class="ass-p">
        @Html.DisplayFor(model => model.Description)
    </p>

    <p class="ass-l">
        <label class="ass-l">Day Assigned:  </label>
        
    </p>

    <p class="ass-p">
        @Html.DisplayFor(model => model.DateOfAssigned)
    </p>
    
    <p class="ass-l">
        <label class="ass-p">Last Day of Submittion:  </label>
    </p>

    <p class="ass-p">
        @Html.DisplayFor(model => model.DateOfSubmittion)
    </p>

    <p class="ass-l">
        <label class="ass-p">Allowed Programming Language:  </label>
    </p>

    <p class="ass-p"> 
        @Html.DisplayFor(model => model.AllowedProgrammingLanguage)
    </p> 
</div>
@if (User.IsInRole("Admin, Teacher"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
else
{
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
}
