@model Mooshak2.DAL.Assignment

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div class="ass-detail">
    
    <label>ID: </label>
    <p>@Html.DisplayFor(model => model.Id)</p> 

    <label>Name: </label>
    <p>@Html.DisplayFor(model => model.Name)</p> 

    <label>Description: </label>
    <p>@Html.DisplayFor(model => model.Description)</p>
    
    <p>
    <label>First Day of Submission:  </label>
    @Html.DisplayFor(model => model.DateOfAssigned)
    </p>
    
    <p>
    <label>Last Day of Submittion:  </label>
    @Html.DisplayFor(model => model.DateOfSubmittion)
    </p>

    <p>
    <label>Allowed Programming Language:  </label>
    @Html.DisplayFor(model => model.AllowedProgrammingLanguage)
    </p>

    <p>
    <label>Final Grade:  </label>
    @Html.DisplayFor(model => model.FinalGrade)
    </p>

    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
