@model Mooshak2.DBL.Assignment

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div class="ass-detail">
    
    <h4>@Html.DisplayFor(model => model.Course.Name) </h4>  
     
    <label>Description: </label>
    <p>@Html.DisplayFor(model => model.Description)</p>
    
    <p>
    <label>First Day of Submission:  </label>
    @Html.DisplayFor(model => model.DateOfAssigned)
    </p>
    
    <p>
    <label>Last Day of Submittion:  </label>
    @Html.DisplayFor(model => model.DateOfSubmittion)
    </p>

    <p>
    <label>Allowed Programming Language:  </label>
    @Html.DisplayFor(model => model.AllowedProgrammingLanguage)
    </p>

    <p>
    <label>Final Grade:  </label>
    @Html.DisplayFor(model => model.FinalGrade)
    </p>

    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
