@model IEnumerable<Mooshak2.Models.AssignmentViewModel>

@{
    ViewBag.Title = "Assignments";
}

<h2>Assignment List</h2>

@if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
{
    <p class="btn btn-default" role="button">
        @Html.ActionLink("+", "Create", "Assignments")
    </p>
}

<hr />

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Course
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Assignments.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignments.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courses.Name)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Assignments.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Assignments.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Assignments.Id })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Assignments.Id })
                </td>
            }
        </tr>
    }
</table>
