@model Mooshak2.Models.CourseDeleteViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details on @Html.DisplayFor(model => model.Name)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <hr />
    @if (Model.assignments.Count() != 0)
    {
        <h4>Assignments in this Course</h4>
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
            </tr>
            @foreach (var item in Model.assignments)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name, "Details", "Assignments", new { id = item.Id }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <h4>There are no assignments currently in @Html.DisplayFor(model => model.Name)</h4>
    }
    <hr />
    @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
    {
        if (Model.studentList.Count() != 0)
        {
            
            <h4>Users in this Course</h4>
            <table class="table">
                <tr>
                    <th>
                        Username
                    </th>
                    <th>
                        Email
                    </th>
                </tr>
                @foreach (var item in Model.studentList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <h4>There are no Users currently in @Html.DisplayFor(model => model.Name)</h4>
        }
    }
</div>
    @if (User.IsInRole("Admin"))
    {
    <p>
        @Html.ActionLink("Edit Course", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Delete Course", "Delete", new { id = Model.Id }) |
        @Html.ActionLink("Back to Course List", "Index")
    </p>
    }
    else
    {
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    }
