@model Mooshak2.Models.AddCourseViewModel
@{
    ViewBag.Title = "Assign Course";
}

<h2>Assign Course to @Html.DisplayFor(model => model.UserName)</h2>

@using (Html.BeginForm("AddCourse", "UserControl", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                <label>Course Name: </label>
                @Html.DropDownListFor(model => Model.courseId, Model.ListCourses)
                @Html.ValidationMessageFor(model => model.courseId, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(x => x.UserName)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="AddCourse" class="btn btn-default" />
            </div>
        </div>
        @ViewBag.Message
     </div>
}
@Html.ActionLink("Back to Course List", "Index")
