@model Mooshak2.DAL.AspNetUser

@{
    ViewBag.Title = "Delete";
}

<h2>Delete @Html.DisplayFor(model => model.UserName)</h2>

<h3>Are you sure you want to delete ?</h3>
<div>
    <h4>User will also be removed from Courses he is assigned to</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
<hr />
@Html.ActionLink("Back to List", "Index")
